@inject IStudentRecordApiCommand studentRecordCommand
@rendermode InteractiveServer
@inject IJSRuntime JS

<dialog id="my_modal_4" class="modal">
    <div class="modal-box w-11/12 max-w-6xl rounded-sm">

        <div class="flex items-center justify-between mb-6 pb-4 border-b-1 border-stone-500">
            <h3 class="text-2xl font-semibold text-gray-700 flex items-center gap-3">
                <div class="w-10 h-10 bg-gradient-to-br from-cyan-500 to-teal-500 rounded-xl flex items-center justify-center shadow-lg">
                    <svg class="w-6 h-6 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path>
                    </svg>
                </div>
                Edit Profile
            </h3>
            <form method="dialog">
                <button class="btn btn-sm btn-circle btn-ghost">✕</button>
            </form>
        </div>

        <EditForm Model="@studentUpdateInformation" OnValidSubmit="@HandlingUpdate" FormName="UpdatingAllInfo">
            <div class="pb-4 max-h-[70vh] overflow-y-auto scrollbar-hide -mb-6">

                <div class="grid lg:grid-cols-3 gap-8">

               
                    <div class="space-y-4">
                        <h4 class="font-bold text-cyan-600 text-lg mb-4 pb-2 border-b-2 border-cyan-200 flex items-center gap-2">
                            Personal Information
                        </h4>

                        <div class="form-control">
                            <label class="label">
                                <span class="label-text font-semibold text-xs uppercase">Full Name</span>
                            </label>
                            <input type="text" @bind="studentUpdateInformation.personalInformation!.FirstName" class="input input-bordered input-sm" />
                        </div>
                        <div class="form-control">
                            <label class="label">
                                <span class="label-text font-semibold text-xs uppercase">Middle Name</span>
                            </label>
                            <input type="text" @bind="studentUpdateInformation.personalInformation!.MiddleName" class="input input-bordered input-sm" />
                        </div>
                        <div class="form-control">
                            <label class="label">
                                <span class="label-text font-semibold text-xs uppercase">Last Name</span>
                            </label>
                            <input type="text" @bind="studentUpdateInformation.personalInformation!.LastName" class="input input-bordered input-sm" />
                        </div>

                        <div class="form-control">
                            <label class="label">
                                <span class="label-text font-semibold text-xs uppercase">Date of Birth</span>
                            </label>
                            <input type="date" @bind="studentUpdateInformation.personalInformation.DateOfBirth" class="input input-bordered input-sm" />
                        </div>

                        <div class="form-control">
                            <label class="label">
                                <span class="label-text font-semibold text-xs uppercase">Gender</span>
                            </label>
                            <select class="select select-bordered select-sm" @bind="studentUpdateInformation.personalInformation!.Gender">
                                <option value="@GenderChoice.Male">Male</option>
                                <option value="@GenderChoice.Female">Female</option>
                                <option value="@GenderChoice.Prefer_not_to_say">Prefer not to say</option>
                            </select>
                        </div>

                        <div class="form-control">
                            <label class="label">
                                <span class="label-text font-semibold text-xs uppercase">Civil Status</span>
                            </label>
                            <select class="select select-bordered select-sm" @bind="studentUpdateInformation.personalInformation!.CivilStatus">
                                <option value="@CivilStatusChoice.Single">Single</option>
                                <option value="@CivilStatusChoice.Married">Married</option>
                                <option value="@CivilStatusChoice.Taken">Taken</option>

                            </select>
                        </div>

                        <div class="form-control">
                            <label class="label">
                                <span class="label-text font-semibold text-xs uppercase">Nationality</span>
                            </label>
                            <input type="text" @bind="studentUpdateInformation.personalInformation!.Nationality" class="input input-bordered input-sm" />
                        </div>
                    </div>

              
                    <div class="space-y-4">
                        <h4 class="font-bold text-teal-600 text-lg mb-4 pb-2 border-b-2 border-teal-200 flex items-center gap-2">
                            Academic Information
                        </h4>

                        <div class="form-control">
                            <label class="label">
                                <span class="label-text font-semibold text-xs uppercase">Student Type</span>
                            </label>
                            <select class="select select-bordered select-sm" @bind="studentUpdateInformation.academicInformation!.StudentType">
                                <option value="@StudentTypeChoice.New">New Student</option>
                                <option value="@StudentTypeChoice.Old">Old Student</option>
                                <option value="@StudentTypeChoice.Transferee">Transferee</option>
                            </select>
                        </div>

                        <div class="form-control">
                            <label class="label">
                                <span class="label-text font-semibold text-xs uppercase">Year Level</span>
                            </label>
                            <select class="select select-bordered select-sm" @bind="studentUpdateInformation.academicInformation!.YearLevel">
                                <option value="@YearLevelChoice.First_Year">1st Year</option>
                                <option value="@YearLevelChoice.Second_Year">2nd Year</option>
                                <option value="@YearLevelChoice.Third_Year">3rd Year</option>
                                <option value="@YearLevelChoice.Fourth_Year">4th Year</option>
                            </select>
                        </div>

                        <div class="form-control">
                            <label class="label">
                                <span class="label-text font-semibold text-xs uppercase">Semester</span>
                            </label>
                            <select class="select select-bordered select-sm" @bind="studentUpdateInformation.academicInformation!.Semester">
                                <option value="@SemesterChoice.First_Semester">First Semester</option>
                                <option value="@SemesterChoice.Second_Semester">Second Semester</option>
                            </select>
                        </div>

                        <div class="form-control">
                            <label class="label">
                                <span class="label-text font-semibold text-xs uppercase">Program</span>
                            </label>
                            <select class="select select-bordered select-sm" @bind="studentUpdateInformation.academicInformation!.Program">
                                <option value="@ProgramChoice.Criminology">College of Criminal Justice Education</option>
                                <option value="@ProgramChoice.Hospitality_Management">Bachelor of Science in Hospitality Management</option>
                                <option value="@ProgramChoice.Business_Administration">Bachelor of Science in Business Administration</option>
                                <option value="@ProgramChoice.Tourism_Management">Bachelor of Science in Tourism Management</option>
                                <option value="@ProgramChoice.Industrial_Technology">Bachelor of Science in Industrial Technology</option>
                                <option value="@ProgramChoice.Computer_Engineering">Bachelor of Science in Computer Engineering</option>
                                <option value="@ProgramChoice.Computer_Science">Bachelor of Science in Computer Science</option>
                                <option value="@ProgramChoice.Computer_Technology" selected>Bachelor of Science in Computer Technology</option>
                                <option value="@ProgramChoice.Secondary_Education">Bachelor of Science in Secondary Education</option>
                                <option value="@ProgramChoice.Technology_AndLivelihood_Education">Bachelor of Science in Technology And Livelihood Education</option>
                                <option value="@ProgramChoice.Technical_Vocational_TeacherEducation">Bachelor of Science in Technical Vocational Teacher Education</option>
                            </select>
                        </div>

                        <div class="form-control">
                            <label class="label">
                                <span class="label-text font-semibold text-xs uppercase">Major</span>
                            </label>
                            <select class="select select-bordered select-sm" @bind="studentUpdateInformation.academicInformation!.Major">
                                <option value="@MajorChoice.None">None</option>
                                <option value="@MajorChoice.Financial_Management">Financial Management</option>
                                <option value="@MajorChoice.HumanResources_Management">Human Resources Management</option>
                                <option value="@MajorChoice.Architectural_Drafting_Technology">Architectural Drafting Technology</option>
                                <option value="@MajorChoice.Automotive_Technology">Automotive Technology</option>
                                <option value="@MajorChoice.Electrical_Technology">Electrical Technology</option>
                                <option value="@MajorChoice.Electronics_Technology">Electronics Technology</option>
                                <option value="@MajorChoice.Food_Technology">Food Technology</option>
                                <option value="@MajorChoice.Garments_Technology">Garments Technology</option>
                                <option value="@MajorChoice.Mechanical_Technology">Mechanical Technology</option>
                                <option value="@MajorChoice.Computer_Technology">Computer Technology</option>
                                <option value="@MajorChoice.English">English</option>
                                <option value="@MajorChoice.Mathematics">Mathematics</option>
                                <option value="@MajorChoice.Filipino">Filipino</option>
                                <option value="@MajorChoice.Science">Science</option>
                                <option value="@MajorChoice.Home_Economics">Home Economics</option>
                                <option value="@MajorChoice.Foods_And_Services_Management">Foods and Services Management</option>
                                <option value="@MajorChoice.Fashion_And_Design">Fashion and Design</option>
                                <option value="@MajorChoice.Garments">Garments</option>
                            </select>
                        </div>

                        <div class="form-control">
                            <label class="label">
                                <span class="label-text font-semibold text-xs uppercase">Strand</span>
                            </label>
                            <select class="select select-bordered select-sm" @bind="studentUpdateInformation.academicInformation!.Strand">
                                <option value="@StrandChoice.Stem">STEM</option>
                                <option value="@StrandChoice.Abm">ABM</option>
                                <option value="@StrandChoice.Humss">HUMSS</option>
                                <option value="@StrandChoice.Gas">GAS</option>
                                <option value="@StrandChoice.Tvl" selected>TVL</option>
                            </select>
                        </div>
                    </div>

         
                    <div class="space-y-4">
                        <h4 class="font-bold text-stone-600 text-lg mb-4 pb-2 border-b-2 border-stone-300 flex items-center gap-2">
                            Contact Information
                        </h4>

                        <div class="form-control">
                            <label class="label">
                                <span class="label-text font-semibold text-xs uppercase">Mobile Number</span>
                            </label>
                            <input type="tel" @bind="studentUpdateInformation.contactInformation!.MobileNumber" class="input input-bordered input-sm" />
                        </div>

                        <div class="form-control">
                            <label class="label">
                                <span class="label-text font-semibold text-xs uppercase">Email Address</span>
                            </label>
                            <input type="email" @bind="studentUpdateInformation.contactInformation!.EmailAddress" class="input input-bordered input-sm" />
                        </div>

                        <div class="form-control">
                            <label class="label">
                                <span class="label-text font-semibold text-xs uppercase">Emergency Contact</span>
                            </label>
                            <input type="tel" @bind="studentUpdateInformation.contactInformation!.EmergencyContactNumber" class="input input-bordered input-sm" />
                        </div>

                        <div class="form-control">
                            <label class="label">
                                <span class="label-text font-semibold text-xs uppercase">Permanent Address</span>
                            </label>
                            <textarea class="textarea textarea-bordered textarea-sm h-24" @bind="studentUpdateInformation.personalInformation!.PermanentAddress" placeholder="Enter address"></textarea>
                        </div>
                    </div>

                </div>

                <div class="modal-action mt-6 pt-4 border-t-2 border-gray-200">

                    <button class="btn btn-outline btn-primary gap-2">
                        <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                        </svg>
                        Cancel
                    </button>
                    <button type="submit" class="btn bg-cyan-600 gap-2 text-white">
                        <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                        </svg>
                        Save Changes
                    </button>

                </div>
            </div>
        </EditForm>
    </div>
</dialog>

@code {
    [Parameter]
    public PersonalInformationDto? P { get; set; }
    [Parameter]
    public AcademicInformationDto? A { get; set; }
    [Parameter]
    public ContactInformationDto? C { get; set; }

    public bool hasloaded = false;
    public StudentUpdateInformationDto studentUpdateInformation = new StudentUpdateInformationDto
        {
            personalInformation = new PersonalInformationDto(),
            contactInformation = new ContactInformationDto(),
            academicInformation = new AcademicInformationDto()

        };
    [Parameter]
    public EventCallback UpdateInfo { get; set; }
    protected override void OnParametersSet()
    {

        if (!hasloaded && P is not null && A is not null && C is not null)
        {
            hasloaded = true;

            studentUpdateInformation.personalInformation!.FirstName = P.FirstName;
            studentUpdateInformation.personalInformation!.MiddleName = P.MiddleName;
            studentUpdateInformation.personalInformation.LastName = P.LastName;
            studentUpdateInformation.personalInformation.DateOfBirth = P.DateOfBirth;
            studentUpdateInformation.personalInformation.Gender = P.Gender;
            studentUpdateInformation.personalInformation.CivilStatus = P.CivilStatus;
            studentUpdateInformation.personalInformation.Nationality = P.Nationality;
            studentUpdateInformation.personalInformation.PermanentAddress = P.PermanentAddress;
            studentUpdateInformation.contactInformation!.MobileNumber = C.MobileNumber;
            studentUpdateInformation.contactInformation.EmailAddress = C.EmailAddress;
            studentUpdateInformation.contactInformation.EmergencyContactNumber = C.EmergencyContactNumber;
            studentUpdateInformation.academicInformation!.StudentType = A.StudentType;
            studentUpdateInformation.academicInformation.YearLevel = A.YearLevel;
            studentUpdateInformation.academicInformation.Semester = A.Semester;
            studentUpdateInformation.academicInformation.Strand = A.Strand;
            studentUpdateInformation.academicInformation.Program = A.Program;
            studentUpdateInformation.academicInformation.Major = A.Major;
        }

        StateHasChanged();
    }
    public async Task HandlingUpdate()
    {
        await studentRecordCommand.UpdateAllDetailsAsync(studentUpdateInformation);
        await JS.InvokeVoidAsync("dialogHelper.closeDialog", "my_modal_4");
        await UpdateInfo.InvokeAsync();
    }

}

